# Ignore all files by default
*

!*/
!*.cpp
!*.h
!*.hpp
!*.md
!*.txt
!.gitignore

# Images example
!cold.ppm
!earthy.ppm
!grey.ppm
!hot.ppm
!neon.ppm
!pastel.ppm
!*.png

# Ignore VS Code settings
.vscode/

# Ignore build directory
/build/

# Keep output folder
!output/
!output/.gitkeep